@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --color-orange: #ff4500;
  --color-grey: #e8e8e8;
  --color-darker-grey: #dcdcdc;
  --twitter-blue: #1da1f2;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

#content {
  display: flex;
}

/*****Header*****/
header {
  color: #ffffff;
  background-color: var(--color-orange);
  padding: 15px 30px;
}

.main-heading {
  margin: 0;
}

/*****Sidebar*****/
.sidebar {
  min-width: 250px;
  background-color: var(--color-grey);
  border-right: solid 2px var(--color-grey);
  height: calc(100vh - 98px);
  padding: 10px 30px;
}

.sidebar-item {
  display: block;
  width: 100%;
  text-align: left;
  margin: 10px 0;
}

.sidebar-item,
.project-button,
.new-project-button {
  padding: 5px 10px;
  border-radius: 2px;
  background-color: var(--color-grey);
  color: #000000;
  border: none;
  font-size: 16px;
  font-weight: normal;
  width: 100%;
  text-align: left;
}

.sidebar-item:hover,
.project-button:hover,
.new-project-button:hover {
  background-color: var(--color-darker-grey);
  cursor: pointer;
}

.new-project-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-project-button:hover .hide {
  display: block;
}

.icon {
  margin-right: 5px;
}

.projects-heading {
  padding-bottom: 5px;
  border-bottom: solid 2px var(--color-orange);
  margin-bottom: 14.92px;
}

.project-popup-buttons {
  display: flex;
  justify-content: space-between;
}

.project-popup-buttons > button {
  text-align: center;
  width: 45%;
  margin-top: 10px;
  border: none;
}

.add {
  background-color: rgba(0, 255, 127, 0.9);
}

.cancel {
  background-color: rgba(220, 20, 60, 0.6);
}

/*****Todo Main Section*****/
.todo-main {
  width: 100%;
  padding: 3% 10%;
  position: relative;
}

.sub-heading {
  margin: 0;
}

.add-icon {
  margin: 0 5px;
}

.todoSectionHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px var(--color-orange);
}

.todo-list {
  padding: 5px 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px 10px;
}

.todo-item:hover {
  background-color: var(--color-grey);
}

.right-panel,
.left-panel {
  display: flex;
  align-items: center;
}

.task-name {
  margin: 0 0 0 10px;
}

.date-text,
.priority-text {
  margin: 0 5px;
}

.todo-icon {
  margin: 0 7.5px;
}

#edit:hover {
  color: green;
}

#info:hover {
  color: var(--twitter-blue);
}

#delete:hover {
  color: red;
}

/***** Modal *****/
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 1;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  color: var(--color-orange);
  min-width: 384px;
  max-width: 384px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: solid var(--color-orange) 2px;
  padding: 50px 10px;
  font-weight: bold;
  text-align: left;
  word-break: break-word;
}

.modal-heading {
  margin: 0 0 15px 0;
}

.modal-form > input[type="text"],
input[type="date"],
#priority {
  height: 25px;
  width: 250px;
  padding: 6px;
  border-radius: 5px;
  border: none;
  border: solid 1px #b8b8b8;
  display: block;
  margin: 0 0 10px 0;
  font-family: "Poppins", sans-serif;
}

.modal-button-container {
  text-align: center;
  margin-top: 20px;
}

.modal-button {
  border-radius: 2px;
  padding: 5px 10px;
  cursor: pointer;
}

.modal-button:hover {
  background-color: var(--color-darker-grey);
}

#priority {
  height: 37px;
  width: 262px;
}

.info {
  color: #000000;
  margin: 0;
  font-weight: normal;
}

.description {
  margin-bottom: 10px;
  border-bottom: 3px solid var(--color-darker-grey);
}

.project-input {
  width: calc(100% - 13px);
  padding: 10px 5px;
  border: 1.5px solid var(--color-darker-grey);
  outline: none;
}

.hide {
  display: none;
}

/***** Buttons *****/
button {
  padding: 0.35em 1.2em;
  margin: 0 0 5px 0;
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  background-color: var(--color-orange);
}
